.appContainer
{
    display: flex;
    flex-direction: column;
    

}

.body
{
    display: flex;
    flex-direction: row;
}
.cardDesign{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}