.yourCart{
    display: flex;
    flex-direction: column; 
}

.cartDesingContainer{
    display: flex;
    flex-direction: row;
}

.yourCartTitle{
    background-color: gainsboro;
    width: 900px;
    margin-left: 70px;
    margin-top: 20px;
}

.yourCartTitleName>span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.yourCartTitleHome{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
    color: red;
}

.yourCartTitleHome:hover{
    cursor: pointer;
}

.yCartProduct{
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid gray;
    margin-left: 70px;
}

.yCartImg>img{
    width: 130px;
    height: 120px;
    margin: 10px 0px 10px;
}

.cartProductInfo{
   margin-top: 30px;
   font-size: 20px;
}

.yCartAdet{
    display: flex;
    margin-top: 13px;
    justify-content: center;
}

.yCartProductCount{
    margin-top: 30px;
    font-size: 20px;
}

.yCartProductRemove{
    margin-top: 30px;
}

.yCartAdet>button{
    border: none;
    outline-width: 0px;
}

.yCartAdet>span{
    border: 1px solid gainsboro;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
}

.orderSummery{
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid gainsboro;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;   
}

.oStitle>span{
    font-weight: 700;
}

.oStitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}

.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}


.orderConfirm{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

